*{
    /* font-family: 'Open Sans'; */
    font-family: "Rajdhani", serif;
    

}

html::-webkit-scrollbar {
    display: none; 
}
.font_OpenSans{
    font-family: 'Open Sans';
}
.font_Rajdhani{
    font-family: "Rajdhani", serif;
}
body{
    margin: 0;
    padding: 0;
}
.landing-page{
    /* border: 1px solid black; */
    width: 100%;
    height: 6534px;
    top: 549px;
    left: 3289px;
    gap: 0px;
    opacity: 0px;
}
.sevices{
    /* border: 1px solid black; */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 78.61%),
    linear-gradient(359.68deg, rgba(0, 0, 0, 0) 72.85%, rgba(44, 44, 44, 0.6) 106.63%), url(bg-header.png);
    
    background-size: 2100px;
    width: 100%;
    height: 700px;
}
.header{
    height: 84px;
    display: flex;
    padding: 20px 80px 20px 80px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
}

.logo{
    width: 150px;
    height: 32.85px;
    padding: 8px;
    gap: 10px;
    opacity: 0px;
}
.logo img{
    width: 150px;
    height: 32.85px;
    gap: 0px;
    opacity: 0px;

}

.menu{
    
    height: 84px;
    display: flex;
    justify-content: space-around;
    gap: 44px;
    color: white;
    opacity: 0px;

}
.menubar{
    padding-top: 15px;
    gap: 10px;
}
.menu button{
    width: 102px;
    height: 44px;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    gap: 16px;
    opacity: 0px;
    background-color: #eba832;
    cursor: pointer;
}
.header-content{
    width: 700px;
    height: 300px;
    margin-top:60px;
    margin-left: 100px;
    gap: 40px;
    opacity: 0px;
    font-size: 30px;

}
.header-content h2{
    margin-bottom: 17px;
    padding-top: 20px;
    color: white;
     
}
.header-content p{
    
    color: #fefefe;
    font-size: 18px;
    line-height: 30px;
}
.header-content button{
    width: 200px;
    height: 62px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    gap: 16px;
    opacity: 0px;
    background-color: #eba832;
}

.research{
    /* border: 1px solid black; */
    background-color: #292929;
    background-image: url(line-img.svg);
    background-position: top right;
    background-repeat: no-repeat;
    width: 1,440px;
    height: 895px;
    padding: 0px 80px 0px 80px;
    gap: 46px;
    opacity: 0px;

}
.research img{
    width: 828px;
    height: 474px;
    gap: 0px;
    opacity: 0px;

}
.research-main{
    height: 190px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.insights{
    padding: 78px 0px 78px 0px;
         width: 40%;
        /* height: 727px; */ 
    
}
.insights-right{
    padding: 95px 0px 78px 0px;
    width: 50%;
}
.insights-right p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(255, 255, 255,0.6);
}
.insights p{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.07px;
    letter-spacing: 0.36em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #eba832;
}
.insights h2{
    gap: 0px;
    opacity: 0px;
    color: white;
    font-weight: 700;
    font-size: 35px;
    line-height: 0px;
}
.scroll-img{
    /* background-color: white; */
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 1360px;
    height: 523px;
    margin-left: 20px;
    margin-top: 20px;
    gap: 24px;
    
}
.img1,.img2,.img3{
    background-color: #323232;
    margin-top: 10px;
    width: 410px;
    height: 523px;
    padding: 24px;
    flex-shrink: 0;
}
.scroll-img::-webkit-scrollbar {
    display: none; 
}
.img1{
    background-image: url(img1-1.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 500px;
}
.img2{
    
    background-image: url(img2-1.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 500px;
}
.img3{
    background-image: url(img3-1.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 500px;
}

.content2{
    color:  rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

}
.content1{
    color:  rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 14px;
    line-height: 19.07px;
    letter-spacing: 0.36em;

}
.img1 h2,.img2 h2,.img3 h2{
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 25.52px;
    letter-spacing: 0%;
}


.industries main{
    background-color: black;
    /* border: 1px solid black; */
    /* width: 1,440px; */
    min-height: 100vh;
    
    padding: 120px 80px 120px 80px;
    gap: 46px;
    opacity: 0px;
}
.industries{
    /* border: 1px solid  black; */
    background-color: white;
    width: 1,440px;
    min-height: 100vh;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
    opacity: 0px;

}

.ind-and-ser{
    height: 190px;
    display: flex;
    padding-bottom: 0px ;
    justify-content: space-around;
    gap:40px;
}
.ind-and-ser-1{
    padding: 78px 0px 78px 0px;
    /* margin-left: 60px; */
         width: 35%;
        /* height: 727px; */ 
    
}
.ind-and-ser-2{
    padding: 95px 0px 78px 0px;
    width: 45%;
}
.ind-and-ser-2 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(165, 158, 158);
}
.ind-and-ser-1 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.07px;
    letter-spacing: 0.36em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #eba832;
}
.ind-and-ser-1 h2{
    gap: 0px;
    opacity: 0px;
    color: black;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
}

.sub-heading{
    width: 1280px;
    height: 58px;
    margin-left: 50px;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: 0;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;

}

.sub1,.sub2{
    padding-left: 40px;
}

.sub1 p,.sub2 p{
    
    font-weight: 500;
    font-size: 20px;
    line-height: 25.52px;
    letter-spacing: 0%;

}

.table{
    width: 1280px;
    height: 306px;

}
.table-head{
    width: 40%;
}
 .table1{
    border-bottom: 1px solid rgb(41,41,41,0.1);
    width: 1280px;
    height: 102px;
    padding-left: 120px;
    display: flex;
    gap: 28em;
}
.table2{
    border-bottom: 1px solid rgb(41,41,41,0.1);
    width: 1280px;
    height: 102px;
    padding-left: 120px;
    display: flex;
    
    gap: 21.5em;
}
.table3{
    border-bottom: 1px solid rgb(41,41,41,0.1);
    width: 1280px;
    height: 102px;
    padding-left: 120px;
    display: flex;
    gap: 19em;
} 
.table-content{
    color: rgba(41, 41, 41, 0.8);

    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0px;
}

.discover{
    
    /* border: 1px solid black; */
    background-color: #323232;
    background-image: url(line-img.svg);
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    height: 2141px;
    padding: 120px 0px 120px 0px;
    gap: 120px;
    opacity: 0px;
}

.discover-main{
    height: 190px;
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
}
.dis-left{
    padding: 0px 0px 0px 0px;
    /* margin-top: 20px; */
    
         width: 30%;
        /* height: 727px; */ 
    
}
.dis-right{
    /* margin-left: 0px; */
    padding: 15px 0px 0px 0px;
    width: 35%;
}
.dis-right p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(255,255,255,0.6);;
}
.dis-left p{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.07px;
    letter-spacing: 0.36em;
    text-align: left;
    padding: 0px;
    margin-top: 0px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #eba832;
}
.dis-left h2{
    gap: 0px;
    opacity: 0px;
    margin-top: 15px;
    color: white;
    font-weight: 700;
    font-size: 42px;
    line-height: 53.59px;
}

.business{
    width: 1280px;
    height: 353.25px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.nbc{
    width: 60%;
    margin-left: 120px;
}
.nbc h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 15px;
    letter-spacing: 0%;
    color: rgba(254, 254, 254, 1);

}
.nbc p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgb(255, 255, 255,0.6);
}
.tring-apps{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: rgb(255, 255, 255,0.6);
}

.rating{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
}
.download{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.business-img{
    width: 40%;
}
/* .download p{
    vertical-align: center;
} */



.nbc button{
    background-color: #eba832;
    width: 155;
    height: 48;
    gap: 16px;
    padding-top: 9px;
    padding-right: 38px;
    padding-bottom: 9px;
    padding-left: 38px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
}




.t1{
    padding: 100px 0px 78px 20px;
    height: 190px;
    display: flex;
    /* justify-content: space-around;
    gap: 56px; */
}
.t2{
    padding: 78px 0px 78px 100px;
    /* margin-top: 20px; */
    
         width: 40%;
        /* height: 727px; */ 
    
}
.t3{
    /* margin-left: 0px; */
    padding: 100px 0px 78px 0px;
    width: 40%;
}
.t3 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(255,255,255,0.6);
}
.t2 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.07px;
    letter-spacing: 0.36em;
    text-align: left;
    padding: 0px;
    margin-top: 0px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #eba832;
}
.t2 h2{
    gap: 0px;
    opacity: 0px;
    margin-top: 15px;
    color: white;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
}

.branch{
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.branch > .b1 {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 20px;
    line-height: 25.52px;
    letter-spacing: 0%;

}
.employees{
    padding: 35px 5px 30px 70px;
    width: 1440px;
    height: 502px;
    display: flex;
    overflow-x: scroll;
    gap: 7px;
}
.emp{
    flex-shrink: 0;
}
.employees::-webkit-scrollbar {
    display: none; 
}
.highlights{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
.highlights > .spotlight p{
    color: rgba(235, 168, 50, 1);
    font-weight: 500;
    font-size: 14px;
    line-height:10px;
    letter-spacing: 0.36em;
    text-align: center;
}
.highlights > .spotlight h2{
    color: rgba(254, 254, 254, 1);
    margin: 0px;
    font-weight: 700;
    font-size: 42px;
    line-height: 53.59px;
    letter-spacing: 0%;
    text-align: center;
}
.achievements{
    padding: 35px 80px 35px 120px;
    display: flex;
    
}

.clients{

    /* border: 1px solid black; */
    background-color: white;
    width: 100%;
    height: 1000px;
    gap: 120px;
    opacity: 0px;

}

.clients-main{
    padding: 40px 0px 30px 20px;
    height: 190px;
    display: flex;
    /* justify-content: space-around;
    gap: 56px; */
}
.clients-left{
    padding: 78px 0px 78px 100px;
    /* margin-top: 20px; */
    
         width: 40%;
        /* height: 727px; */ 
    
}
.clients-right{
    /* margin-left: 0px; */
    padding: 90px 0px 78px 0px;
    width: 45%;
}
.clients-right p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(41,41,41,0.6);
}
.clients-left p{
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.36em;
    text-align: left;
    padding: 0px;
    margin-top: 0px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #eba832;
}
.clients-left h2{
    gap: 0px;
    opacity: 0px;
    margin-top: 15px;
    color: black;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
}
.products{
    width: 1280px;
    height: 401px;
    padding-left: 120px;
    display: flex;

    gap: 15px;
}
.product1  {
    width: 964px;
    height: 401px;
    
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.1) 78.61%),
    linear-gradient(359.68deg, rgba(0, 0, 0, 0.1) 72.85%, rgba(44, 44, 44, 0.6) 106.63%),url(product1.png);
    
    background-position: center;
    background-size: cover;
    transition: width 0.5s ease;
}
.product1 p{
    /* width: 828px; */
    height: 90px;
    color: #ffffff;
    line-height: 30px;
    padding-top: 170px;
    padding-left: 27px;
    padding-right: 20px;
}
.product1 img{
    padding-left: 30px;
}
.desc{
    display: flex;
    gap: 20px;
}
.desc h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 30.62px;
    letter-spacing: 0em;
    color: #fefefe;
}
.product2{
    width: 116px;
    height: 401px;
    
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.1) 78.61%),
    linear-gradient(359.68deg, rgba(0, 0, 0, 0.1) 72.85%, rgba(44, 44, 44, 0.6) 106.63%),url(product2.png);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-re; */
    transition: width 0.5s ease;
}
.product3{
    width: 145px;
    height: 401px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0) 78.61%),
    linear-gradient(359.68deg, rgba(0, 0, 0, 0) 72.85%, rgba(44, 44, 44, 0.6) 106.63%),url(product3.png);
    background-position : center;
    background-size: 700px;
    transition: width 0.5s ease;
}
.product2 img {
    padding-top: 300px;
    padding-left: 20px;
}
.product3 img{
    padding-top: 300px;
    padding-left: 25px;
}
.product1:hover ~ .product3, .product1:hover ~ .product2{
    width: 135px;
}
.product2:hover ~ .product1, .product2:hover ~ .product3{
    width: 135px;
}
.product3:hover ~ .product1 , .product3:hover ~ .product2{
    width: 135px;
}
.product1:hover,.product2:hover,.product3:hover{
    width:964px;
}
.partners{
    width: 1280px;
    /* height: 347px; */
    padding-top: 80px;
    /* padding-bottom: 120px; */
    display: flex;
    flex-direction: column;

}
.partners-header{
    padding-left: 200px;
}
.partners > .partners-header p{
    color: rgba(235, 168, 50, 1);
    font-weight: 500;
    font-size: 14px;
    line-height:10px;
    letter-spacing: 0.36em;
    text-align: center;
}
.partners > .partners-header h2{
    color: #292929;
    margin: 0px;
    font-weight: 700;
    font-size: 42px;
    line-height: 53.59px;
    letter-spacing: 0%;
    text-align: center;
}

.logos{
    width: 1500px;
    height: 105px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
.logos img{
    padding-left: 80px;
}
.contact{
    width: 1376px;
    height: 150px;
    background-color: #eba832;
    background-image:  url(contact.svg);
    background-size: cover;
    gap: 28px;
    margin-top: 100px;
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
}
.contact h2{
    
    font-weight: 700;
    font-size: 42px;
    line-height: 53.59px;
    letter-spacing: 0%;
    text-align: center;

}
.contact button{
        background-color: #fefefe;
        width: 180px;
        height: 62px;
        gap: 16px;
        text-align: center;
        padding-top: 16px;
        padding-right: 48px;
        padding-bottom: 16px;
        padding-left: 48px;
        margin-left: 590px;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0px;
}
.footer{
    background-color: #1C1C1C;
    background-image: url(web-img.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.footer-main{
    width: 1357px;
    height: 362px;
    margin-top: 326px;
    padding-top: 100px;
    padding-right: 80px;
    padding-bottom: 100px;
    padding-left: 80px;
    border-top-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;

}
.footer1{
    width: 18%;
    padding-top: 10px;
}
.footer1 p{
    color: #FFFFFF99;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    /* padding-top: 13px; */
}

.footer1 > .social-media{
    width: 132px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

}

.footer1 > .diamond-logo{
    width: 328px;
    height: 56px;
    display: flex;
    gap: 12px;
}
.affiliates{
    width: 328px;
    height: 64px;
    padding-top: 15px;
    gap: 24px;
}
.affiliates > .footer-img{
    width: 300px;
    height: 27px;
    display: flex;
    gap: 24px;
}
.affiliates h2{
    color: #fefefe;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    letter-spacing: 0em;
}
.footer2{
    width: 18%;
    height: 294px;

}


.footer2 h2,.footer3 h2,.footer4 h2,.footer5 h2{
    color: #fefefe;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    letter-spacing: 0%;
}
.footer2 p,.footer3 p,.footer4 p,.footer5 p{
    padding-top: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: rgb(255,255,255,0.8);

}





/* .ind-and-ser{
    width: 1112px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    /* margin: 50px 40px 50px 40px; */
    /*padding: 84px 95px 84px 95px;
    

}*/
/*.ind-and-ser-1{
    width: 40%;
}
.ind-and-ser-1 h2{
    color: black;
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    margin: 0;
    
}
.ind-and-ser-1 p{
    font-weight: 500;
    font-size: 14px;
    color: rgba(235, 168, 50, 1);
    line-height: 19.07px;
    letter-spacing: 0.36em;

}
.ind-and-ser-2{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    color: rgba(41, 41, 41, 0.6);
    padding-left: 60px;
    padding-top: 15px;
    width: 55%;
}*/








